<li>
    <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-{{ review.id }}">{{ review.title }} ({{ review.movie.title }}) <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
    <div id="accordion-list-{{ review.id }}" class="collapse {% if loop.first %}show{% endif %}" data-bs-parent=".accordion-list">
        <p>
            {{ review.description }}
        </p>
        <br>
        <p>~ <strong>{{ review.author }}</strong> <span class="text-lighter text-italic float-end">{{ review.readableReviewDate }}</span></p>
    </div>
</li>