{% extends "base.html.twig" %}
{% block highlight %}allmovies{% endblock %}
{% block hero %}
    {%  include "partials/movie_hero.html.twig" with {'movie':  movie} %}
{% endblock %}
{% block title %}{{ movie.title }}{% endblock %}
{% block body %}

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="/">Home</a></li>
                <li><a href="/movies">Movies</a></li>
                <li>{{ movie.title }}</li>
            </ol>
            <h2>{{ movie.title }} <label for="" class="label-content-rating">{{ movie.contentRating }}</label></h2>
        </div>
    </section><!-- End Breadcrumbs -->

    <section id="details" class="inner-page relative-section">
        <img id="movie-details-poster-image" src="{{ movie.profileImage }}" alt="movie poster cover">
        <div class="container">
            <p>Released on: {{ movie.readableReleaseDate }} <span class="float-end text-lighter text-italic">{{ movie.genres }}</span></p>
            <p><span class="text-lighter ">{{ movie.readableRuntime }}</span></p>
            <br>
            <strong>Summary:</strong><hr>
            <p>
                {{ movie.description }}
            </p>
            <p class="text-lighter">
                <strong>Actors:</strong><br>
                {{ movie.cleanFormattedActors }}
            </p>
        </div>
    </section>
    <section id="reviews" class="faq">
        <div class="container">
            <div class="d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">
                <h3>{{ movie.title }} reviews</h3>
                <div class="accordion-list accordion-list-no-margins">
                    <ul>
                        {% for review in movie.reviews %}
                            {%  include "reviews/partials/review_block.html.twig" with {'review':  review} %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}